<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make A Team</title>
  </head>
  <body>
    <form class="" action="/teams" method="post">
      <input type="text" name="team[name]" value="">
      <input type="text" name="team[motto]" value="">
      <input type="text" name="team[members][][name]" value="">
      <input type="text" name="team[members][][power]" value="">
      <input type="text" name="team[members][][bio]" value="">
      <input type="text" name="team[members][][name]" value="">
      <input type="text" name="team[members][][power]" value="">
      <input type="text" name="team[members][][bio]" value="">
      <input type="text" name="team[members][][name]" value="">
      <input type="text" name="team[members][][power]" value="">
      <input type="text" name="team[members][][bio]" value="">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
